/* You can add global styles to this file, and also import other style files */

:root {
  --bg-orange: #f59245;
  --bg-dark: #0c0b0b;
  --bg-white: #fff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
